# Ignore FAISS files only, not the folder
embeddings/**/*.faiss
embeddings/**/*.pkl

# Ignore Gradio temp files
.gradio/
gradio_cached_examples/

# Ignore notebook checkpoints and Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.so

# Ignore virtual environments
env/
venv/
.venv/

# Ignore binary/model data
*.bin
*.log
*.mp4

# OS/editor-specific
.DS_Store
Thumbs.db
.vscode/
.idea/
